body {
    background-color: rgb(34, 31, 30);
    text-align: center;
}

h1 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.heart {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale:(0.9);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}