body {
    background-color: rgb(34, 31, 30);
    text-align: center;
}

h1 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

img {
    transition: 500ms linear;
}